<h1>Articles Listing Page</h1>

<table>
  <thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |a| %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.description %></td>
        <td><%= link_to 'Show', article_path(a) %></td>
        <td><%= button_to "Destroy", a, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>